{% extends 'userbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
    <div><p>Hi..{{user}} welcome to Green Planet.. Here you can send us feedbacks, sugestions any other requirements. so that we will try to update in a better way as your needs  </p></h4></div>
    <table class="table" style="width:50%;">
        <tr style="color:green;"><th colspan="2"><div align="center">Feedback Form</div></th></tr>

        <form action="sendfb" method="post">
            {% csrf_token %}
        <tr>
            <th style="color:green;">Add Your Feedback :</th>
            <td><textarea id="description" name="fbdetails" style="height:200px" required ></textarea></td>

        </tr>

        <tr>
            <td></td>
            <td ><input type="submit" value="Send" class="btn btn-success" ></td>
        </tr>

        </form>

    </table>
</div>
{% endblock content %}