{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <div>
    <div align="center" style="color:green;"><h2>Reply Feedback</h2></div>

    <table class="table">
        <form action="../reply_submit" method="post">
    {% csrf_token %}
      <tr>
        <th style="color:green;">
          <label class="text-success">User Name :</label>
        </th>
        <td>{{data.1}}</td>
      </tr>
      <tr>
        <th style="color:green;">
          <label class="text-success">Feedback :</label>
        </th>
        <td>{{data.3}}</td>
      </tr>
      <tr>
        <th style="color:green;">
          <label class="text-success">Reply  :</label>
        </th>
        <td>
          <textarea type="text" name="reply" placeholder="Reply Here" required></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Submit" class="btn btn-success"></td>
      </tr>
            </form>
    </table>


</div>
</div>
{% endblock content %}