{% extends 'userbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
    <table class="table">
      <tr style="color:green;">
        <th colspan="3"><div align="center"><b>Your Feedbacks</b></div></th>
      </tr>
        <tr style="color:green;">
            <th>Send</th>
            <th>Replied</th>
            <th>Time</th>

        </tr>
            {% for data in table %}
        <br>

        <tr>
            <td>{{data.3}}</td>
            <td>{{data.4}}</td>
            <td><footer><h6>{{data.2}}</h6></footer></td>

        </tr>


        <br>
            {% endfor %}

    </table>
</div>
{% endblock content %}