{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">

<h2 style="color:green;"><b>Plants</b></h2>

<table style="width:100%" class="table">
    <tr style="color:green;">
        <th>Sl No.</th>
        <th>Name</th>
        <th>Description</th>
        <th>Prise</th>
        <th>Image</th>
        <th>Status</th>
        <th colspan="2" >Edit</th>
    </tr>
{% for data in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td> {{data.2}}  </td>
        <td>{{data.3}}</td>
        <td> {{data.4}}  </td>
        <td>  <img  src="{{data.5}}" style="width:100px; height:100px;"></td>
        <td>{{data.6}}</td>
        <td> <a href="../edit_plant_link/{{data.0}}">Edit</a></td>
        <td> <a href="../delete_plant/{{data.0}}">Remove</a></td>
    </tr>
{% endfor %}  
</table>


</div>
{% endblock content %}

